<!DOCTYPE html>
<html lang="en">
<head>
    <title>acrylicpage</title>
    <link rel="stylesheet" href="/static/css/acryliccss.css">
    <link rel="stylesheet" href="/static/css/lightbox.min.css">
    <script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <div class="main">
     <h1>Acrylic Gallery</h1>
      <div class="gallery">
        <a href="/static/gallery/A1.jpg" data-lightboxx="mygallery" ><img src="/static/gallery/A1s.jpg"></a>
        <a href="/static/gallery/A2.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A2s.jpg"></a>
        <a href="/static/gallery/A3.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A3s.jpg"></a>
        <a href="/static/gallery/A4.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A5s.jpg"></a>
        <a href="/static/gallery/A5.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A6s.jpg"></a>
        <a href="/static/gallery/A6.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A7s.jpg"></a>
        <a href="/static/gallery/A7.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A8s.jpg"></a>
        <a href="/static/gallery/A8.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A9s.jpg"></a>
        <br>
        <a href="/static/gallery/A9.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A4s.jpg"></a>
        <a href="/static/gallery/A10.jpg" data-lightboxx="mygallery"><img src="/static/gallery/A10s.jpg"></a>
        </div>
        
    </div>
</body>
</html>