<!DOCTYPE html>
<html>
<head>
    <title>Paintings</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
            <div class="icon">
                <h2 class="logo">ScribblE 🖌</h2>
            </div>
        
            <div class="menu">
                <ul>
                    <li><button class="hm"><a href="home">Home</a></button></li>
                    <li><button class="hm"><a href="acrylic">Acrylic</a></button></li>
                    <li><button class="hm"><a href="charcoal">Charcoal</a></button></li>
                    <li><button class="hm"><a href="potrait">Potrait</a></button></li>
                </ul>
            </div>

        <div class="content">
            <h1>Welcome to the<br>Gallery </h1>
            <span class="par" style="font-family: Copperplate, Papyrus, fantasy; font-weight:bold; ">scribblE</span> <span class="text">is organizing some of the best paintings for you...<br>Grab it before it gets sold.    </span>        
        </div>
        <div class="lastbtn">
    
        <button class="last"><a href="login">Join Us</a></button>
        
        </div>
       
    </div>
</body>
</html>

