<!DOCTYPE html>
<html>
<head>
    <title>Paintings</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
            <div class="icon">
                <h2 class="logo">ScribblE 🖌</h2>
            </div>
        
            <div class="menu">
                <ul>
                    <li><button class="hm"><a href="#">Home</a></button></li>
                    <li><button class="hm"><a href="/template/arcylic.html">Acrylic</a></button></li>
                    <li><button class="hm"><a href="/template/charcoal.html">Charcoal</a></button></li>
                    <li><button class="hm"><a href="/template/potrait.html">Potrait</a></button></li>
                </ul>
            </div>

        <div class="content">
            <h1>Welcome to the<br>Gallery </h1>
            <span class="par" style="font-family: Copperplate, Papyrus, fantasy; font-weight:bold; ">scribblE</span> <span class="text">is organizing some of the best paintings for you...<br>Grab it before it gets sold.    </span>        
        </div>
        <div class="lastbtn">
    
        <button class="last"><a href="/template/login.html">Join Us</a></button>
        
        </div>
       
    </div>
</body>
</html>

<!--
<li><select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select></li>  -->