<!DOCTYPE html>
<html lang="en">
<head>
    <title>charcoalpage</title>
    <link rel="stylesheet" href="/static/css/charcoalcss.css">
    <link rel="stylesheet" href="/static/css/lightbox.min.css">
    <script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <div class="main">
     <h1>Charcoal Gallery</h1>
      <div class="gallery">
        <a href="/static/gallery/B1.jpg" data-lightboxx="mygallery" ><img src="/static/gallery/B1s.jpg"></a>
        <a href="/static/gallery/B3.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B3s.jpg"></a>
        <a href="/static/gallery/B4.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B5s.jpg"></a>
        <a href="/static/gallery/B5.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B6s.jpg"></a>
        <a href="/static/gallery/B6.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B7s.jpg"></a>
        <a href="/static/gallery/B7.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B8s.jpg"></a>
        <a href="/static/gallery/B8.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B9s.jpg"></a>
        <a href="/static/gallery/B9.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B4s.jpg"></a>
        <br>
        <a href="/static/gallery/B2.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B2s.jpg"></a>
        <a href="/static/gallery/B10.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B10s.jpg"></a>
        <a href="/static/gallery/B11.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B11s.jpg"></a>
        <a href="/static/gallery/B12.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B12s.jpg"></a>
        <a href="/static/gallery/B13.jpg" data-lightboxx="mygallery"><img src="/static/gallery/B13s.jpg"></a>
        </div>
        
    </div>
</body>
</html>