<!DOCTYPE html>
<html lang="en">
<head>
    <title>potraitpage</title>
    <link rel="stylesheet" href="/static/css/potraitcss.css">
    <link rel="stylesheet" href="/static/css/lightbox.min.css">
    <script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <div class="main">
     <h1>Potrait Gallery</h1>
      <div class="gallery">
        <a href="/static/gallery/C1.jpg" data-lightboxx="mygallery" ><img src="/static/gallery/C1.jpg"></a>
        <a href="/static/gallery/C2.jpg" data-lightboxx="mygallery"><img src="/static/gallery/C2.jpg"></a>
        <a href="/static/gallery/C3.jpg" data-lightboxx="mygallery"><img src="/static/gallery/C3.jpg"></a>
        </div>
        
    </div>
</body>
</html>